html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
    transition: 0.2s;
    z-index: 100;
}

.flexbox{
    display:flex;
    background-color:black;
    height: 15%;
    width: 100%;
    align-items:center;
}

.flexbox1{
    display:flex;
    align-items:center;
}

.item{
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.container {
    position: relative;
    text-align: center;
    color: black;
    padding-top: 6.5%;
}

.centrado {
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 500%;
    font-weight: bold;
    opacity: 75%;
    width: 100%;
}

.footer {
    margin-bottom:0%;
    width: 100%;
    Padding: 10% 10%;
    Background: rgb(0, 0, 0);
    Color: rgb(255, 255, 255);
    display: flex;
}
.footer div{
    text-align: center;
}
.footer div h3{
    font-weight: 300px;
    font-size: 40px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}
.col1{
    display:block;
    text-decoration: none;
    margin-bottom: 10px;
}
.col2{
    flex-grow: .5;
}
form input{
    width: 350px;
    height: 25px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
}
form button{
    width: 100%;
    height: calc(100% + 5px);
    background: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}
form .cbtn{
    border: 2px;
    color:#fdfdfd;
}
form button{
    color:#ffffff;
}