@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Merriweather:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(mila.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#header {
    position: fixed;
    transition: 0.1s;
    z-index: 100;
    font-family: 'Merriweather', serif;
}

#reservahover {
    transition: 0.5s;
}

.flexbox{
    display:flex;
    background-color:rgb(0, 0, 0);
    height: 15%;
    width: 100%;
    align-items:center;
}

.header.tiny {
    height:10%;
  }

.flexbox1{
    display:flex;
    align-items:center;
}

.seccion1{
    background-color: rgb(75 ,30 ,30 );
    position: relative;
    padding-top: 10%;
}

.item{
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    font-size: 150%;
    text-decoration: none;
}

.container {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
}

.centrado {
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 500%;
    opacity: 75%;
    width: 100%;
}

.footer {
    padding-bottom: 20px;
    width: 100%;
    Background: rgb(36, 36, 36);
    Color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
}
.footer div{
    text-align: center;
}
.footer div h3{
    font-weight: 300px;
    font-size: 40px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}
.col1{
    display:block;
    text-decoration: none;
    margin-bottom: 10px;
    width: 100%;
}
.col2{
    flex-grow: .5;
    width: 100%;
    text-decoration: none;
}
.col3{
    width: 100%;
    text-decoration: none;
}
.userInput{
    font-family: Arial, Helvetica, sans-serif;
}
form textarea{
    width: 350px;
    height: 25px;
    text-align: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
}
form button{
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    border-radius: 7px;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
}
form button:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
.containerrflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerr{
    width: 350px;
    background: #fff;
    border-radius: 7px;
    text-align: center;
    padding: 30px 35px 0 35px;
}

.containerr header{
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.containerr .form-princ{
    width: 100%;
    overflow: hidden;
}

.form-princ form{
    display: flex;
    width: 300%;
}

.form-princ form .pagina{
    width: 33.3%;
    transition: margin-left 0.3s ease-in-out;
}

.form-princ form .pagina .titulo{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}

.form-princ form .pagina .campo{
    height: 35px;
    width: 330px;
    margin: 35px 0;
    display: flex;
    position: relative;
}

.form-princ form .pagina .campo .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
    font-size: 14px;
    font-style: italic;
    float: left;
    text-align: left;
    width: 100%;
}

.form-princ form .pagina .campo input{
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 15px;
}

.form-princ form .pagina .campo select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.form-princ form .pagina .campo button{
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background: #0E2C48;
    border-radius: 7px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-princ form .pagina .campo button:hover{
    background: #DB2A31;
}

.form-princ form .pagina .btns button{
    margin-top: -20px!important;
}

.form-princ form .pagina .btns button.volver{
    margin-right: 3px;
    font-size: 17px;
}

.form-princ form .pagina .btns button.adelante{
    margin-left: 3px;
    font-size: 17px;
}

.containerr .progress-bar{
    display: flex;
    margin: 40px 0;
}

.containerr .progress-bar .paso{
    text-align: center;
    width: 100%;
    position: relative;
}

.progress-bar .paso p{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
}

.progress-bar .paso p.active{
    color: #DB2A31;
}

.progress-bar .paso .num{
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

.progress-bar .paso .num.active{
    border-color: #DB2A31;
    background: #DB2A31 ;
}

.progress-bar .paso .num span{
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .paso .num.active span{
    display: none;
}

.progress-bar .paso .check{
    display: none;
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
}

.progress-bar .paso .check.active{
    display: block;
    color: #000;
}

.progress-bar .paso .num:before,
.progress-bar .paso .num:after{
    position: absolute;
    content: '';
    width: 74px;
    height: 4px;
    bottom: 11px;
    right: -80px;
    background-color: #000;
}

.progress-bar .paso:last-child .num:before,
.progress-bar .paso:last-child .num:after{
    display: none;
}

.progress-bar .paso .num.active:after{
    background: #DB2A31;
    animation: mov_Linea 0.3s linear forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes mov_Linea{
    100%{
        transform: scaleX(1);
    }
}


